[Desktop Entry]
Version=1.0
Name=mount-nas
GenericName=mount-nas
Comment=Mount NAS on gvfs
Exec=gvfs-mount smb://{{ nas_smb_share_host }}/{{ nas_smb_share_name }}/
Terminal=false
Icon=network_fs.svg
Type=Application
Categories=Network;
