[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Keyboad tweaks
Comment=with xmodmap
Exec=/opt/keyboard-tweaks/keyboard-tweaks
Icon=
Terminal=false
GenericName=
NoDisplay=true
