repository_path: /path-to/repo-folder

nas_smb_share_host: server
nas_smb_share_name: name
nas_smb_share_user: user
nas_smb_share_password: password
nas_smb_workgroupname: workgroup
nas_smb_mountpoint: /path-to/mountpoint

# optional
gnome_shell_enabled_extensions:
  - user-theme@gnome-shell-extensions.gcampax.github.com

# optional
development_environments:
    - go
