# disable wake from S3 on XHC1
# XHC1	  S3	*disabled  pci:0000:00:14.0
SUBSYSTEM=="pci", KERNEL=="0000:00:14.0", ATTR{device}=="0x9c31" RUN+="/bin/sh -c '/bin/echo disabled > /sys$env{DEVPATH}/power/wakeup'"

# disable wake from S4 on LID0
# LID0      S4    *disabled  platform:PNP0C0D:00
SUBSYSTEM=="platform", KERNEL=="PNP0C0D:00", RUN+="/bin/sh -c 'echo LID0 > /proc/acpi/wakeup'"
# ACTION=="add", KERNEL=="0000:00:1d.0", SUBSYSTEM=="pci", RUN+="/bin/sh -c 'echo EHC1 > /proc/acpi/wakeup'"
