[Desktop Entry]
Version=1.0
Name=Suspend
GenericName=suspend
Comment=Suspends the computer
Exec=systemctl suspend
Terminal=false
Icon=gnome-logout.svg
Type=Application
Categories=Network;
